<div class="rolling-text-container" [class.show]="showText">
    <!-- <p class="rolling-text">{{ rollingText }}</p> -->
    <!-- <p class="rolling-text">{{ text }}</p> -->
      <!-- calculate total return -->
 <div *ngIf="(portfolioData$ | async) as portfolioData">
  <h3 class="total-return" *ngIf="portfolioData.length > 0">
    <strong>Total Return: 
    <span [ngClass]="{ 'red': calculateTotalReturn(portfolioData) < 0, 'green': calculateTotalReturn(portfolioData) > 0 }">
      <ng-container *ngIf="calculateTotalReturn(portfolioData) > 0">&#9650;</ng-container>
      <ng-container *ngIf="calculateTotalReturn(portfolioData) < 0">&#9660;</ng-container>
      {{ calculateTotalReturn(portfolioData) | number: '1.2-2' }} {{portfolioData[0].currency}}
    </span></strong>

    &nbsp;&nbsp;&nbsp; <strong>%Return: 
    <span [ngClass]="{ 'red': calculateTotalPercentageReturn(portfolioData) < 0, 'green': calculateTotalPercentageReturn(portfolioData) > 0 }">
      <ng-container *ngIf="calculateTotalPercentageReturn(portfolioData) > 0">&#9650;</ng-container>
      <ng-container *ngIf="calculateTotalPercentageReturn(portfolioData) < 0">&#9660;</ng-container>
      {{ calculateTotalPercentageReturn(portfolioData) | number: '1.2-2' }} %
    </span> </strong>
  </h3>
</div>
</div>

<div class = "container-fluid">
  <p>Welcome, {{ username }}!</p>
  <p>Cash balance: ${{ cash }}</p>
  <div *ngIf="(loginResponse$ | async) as loginResponse">
    <p>Cash balance: ${{ loginResponse.cash }}</p>
  </div>
  



<!-- display all trades (combined) -->
    <div *ngIf="(portfolioData$ | async) as portfolioData">
      <div *ngIf="portfolioData.length > 0;else noPortfolioMessage" style="overflow-x:auto;">
        <p>Trades (combined)</p>
      <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Stock Name</th><th>Exchange</th>
              <th>Units</th><th>Avg Unit Price</th><th>Buy Total Price</th>
              <th>Unit Current Price</th><th>Total Current Price</th>
              <th>Total Return</th><th>% Change</th>
            </tr>
          </thead>
          <tbody *ngIf="portfolioData.length > 0">
            <tr *ngFor="let data of portfolioData; let i = index">
              <td>{{i+1}}</td>
              <td class="stock-item" (click)="viewStock(data.symbol)">{{ data.stock_name }}</td><td>{{ data.exchange.toUpperCase()}}</td>
              <td>{{ data.units }}</td><td>{{ data.buy_unit_price | number: '1.2-2' }}</td>
              <td>{{data.currency}} {{ data.buy_total_price }} </td><td>{{ data.unit_current_price }}</td>
              <td>{{ data.currency }} {{ data.total_current_price | number: '1.2-2' }}</td>
              <td [ngClass]="{ 'red': data.total_return < 0, 
              'green': data.total_return > 0 }">
              <span class="arrow-up" *ngIf="data.total_return > 0"><strong> &nbsp;{{ data.total_return | number: '1.2-2'  }} {{ data.currency }}</strong></span>
              <span class="arrow-down" *ngIf="data.total_return < 0"><strong> &nbsp;{{ data.total_return | number: '1.2-2'  }} {{ data.currency }}</strong></span>
      
            </td>
    
              <td [ngClass]="{ 'red': data.total_percentage_change < 0, 
              'green': data.total_percentage_change > 0 }">
              <span class="arrow-up" *ngIf="data.total_percentage_change > 0"><strong> &nbsp;{{ data.total_percentage_change| number: '1.2-2'  }} %</strong></span>
              <span class="arrow-down" *ngIf="data.total_percentage_change < 0"><strong> &nbsp;{{ data.total_percentage_change | number: '1.2-2'  }} %</strong></span></td>
            
            </tr>
          </tbody>
        </table>
        </div>
        </div>

  </div>

<br><br>
<div class="horizontal-line"></div>
<br><br>
<!-- <app-research [stockName]="stock.name"></app-research> -->
<app-research></app-research>
<br>


<ng-template #noPortfolioMessage>
    <p>No trades created.</p>
</ng-template>


